.header{
    padding: 10px;
    margin: 10px;
    
}

.header .line {
    width: 100%;
    height: 0.5px;
    opacity: 0.3;
    background: #000;
    margin: 0;
}

.header .cart{
    font-size: 25px;
}
